/*html, body {
    height: auto;
}

html {
    display: table;
    margin: auto;
}*/
iframe{
    background-color: black;
    opacity: 1.0;
}
#menu a{
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}
#menu{
    text-align: center;
    background-color: wheat;
    opacity: 0.7;
}
.home_thumb{
    width: 300px;
    height: 200px;

}
map{
    float: right;
}
body{
    background-image: url("../images/bgHome.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    /*padding: 0 2em;*/
    border: 1px solid black;
}
#logo{
    width: 275px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
    margin: 0 auto;
    background-repeat: round;
    background-color: white;
    width: 80%;
    opacity: 0.50;
    border-bottom: 2px solid black;
    padding: .5em 0;

}
header h1 {
    color: black;
    text-align: center;
}

footer {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    /*position: fixed;*/
    opacity: 0.50;
    clear: both;
    border-top: 2px solid black;
    bottom: 0;
}
footer p {
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
h1, h2 {
    color: #3333ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
li {
    padding-bottom: 0.5em;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;

}
a:hover {
    color: rgb(208, 133, 4);
}
nav{
    display: block;
    display: inline-block;
    /*    margin-left: 20%;
        margin-right: 20%;*/
    width: 100%;
    text-align: center;
    /*background-color: white;*/
    opacity: 0.7;
    border-bottom: 2px solid black;
}
nav ul li{
    position: relative;
    border: 5px;
    width: 125px;
    text-align: center;
    float: left;
    /*color: #009999;*/
    border: solid 1px white;
    /*background-color: white;*/
}
nav a{
    text-decoration: none;
    display: block;
    width: 125px;
    height: 25px;
    line-height: 25px;
    /*color: #009999;*/
}
nav ul{
    border-left: solid 2px black;

    list-style-type: none;
}
nav ul ul li{
    float: none;
}
body p{
    text-align: center;
}
main{
    background: rgba(255, 255, 255, .7);
    height: 100%;
}
#cityTitle{
    margin: 0 auto;
    width: 80%;
}
/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    background-size: contain;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10px;
    background-size: contain;
    z-index: 9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.img-circle {
    border-radius: 50%;
}
#userPic{
    color: black;
    font-weight: bolder;
}
#eventImage{
    float: right;
    width: auto;
    height: auto;
}